<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
</head>
<body>
<h2> Tivoli tags</h2>

<div th:replace="~{fragment :: header}"></div>

<div>
<form th:action="@{/attractions/{name}/tag(name=${attractions.name})}"
      th:object="${attractions}"
      method="get">
<ul>
    <li th:each ="tag : ${attractions.tags}" th:text ="${tag}"></li>
</ul>
</form>
    <a th:href="@{/attractions}" class="???" > Back </a>
</div>

<div th:replace="~{fragment :: footer}"></div>
</body>
</html>